
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Video Calls</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="background">
    <h1>Green Video Calls</h1>
    <form id="callForm">
        <label for="meeting_link">Meeting Link:</label>
        <input type="text" id="meeting_link" required placeholder="Enter the meeting link">

        <label for="user_id">User ID:</label>
        <input type="number" id="user_id" required placeholder="Enter your user ID">

        <label for="username">Username:</label>
        <input type="text" id="username" required placeholder="Enter your username">

        <label for="email">Email:</label>
        <input type="email" id="email" required placeholder="Enter your email">

        <button type="submit">Submit Call Data</button>
    </form>
    <div id="results" style="display: none;">
        <h2>Results</h2>
        <p id="footprint"></p>
        <p id="energy_consumption"></p> <!-- Add energy consumption -->
        <ul id="recommendations"></ul>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

